:root {
	--primary-background-color:#f6f6f6;
	--background-gradient1:#CFF679;
	--background-gradient2:#E4FAB3;
	--primary-text-color:#292828;
	--dark-text-color:#666;
	--button-color:#292828;
	--light-text:#fff;
}

body {
	font-family:'Outfit', sans-serif;
	margin:0;
	padding:0;
    background-color: var(--primary-background-color);
	color:var(--primary-text-color);
	text-align: center;
	display: grid;
	place-items: center;
	height:100vh;
}

.btn{
	background-color: var(--button-color);
	color:var(--light-text);
	padding:12px 30px;
	border-radius: 20px;
	font-weight: normal;
	text-decoration: none;
	width:120px;
	border:none;
}

footer {
    text-align: center;
    padding: 50px;
}

#sign-in-container {
    background-color: var(--background-gradient1);
    text-align: center;
    width: 50vh;
    padding: 30px;
    border-radius: 20px;
}