:root {
	--primary-background-color:#f9cf50;
	--primary-text-color:#292828;
	--dark-text-color:#666;
	--accent-color:#7BAA0C;
	--light-text:#fff;
}

body {
	font-family: 'Poppins', sans-serif;
	margin:0;
	padding:0;
	background-color: var(--primary-background-color);
	color:var(--primary-text-color);
}

.hero-section {
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background-color);
}

.hero-text{
	max-width:500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap:5px;
}

.hero-text h1{
	font-size: 48px;
	color: var(--primary-text-color);
}

.hero-text p{
	font-size: 18px;
	color:var(--primary-text-color);
}

.btn{
	background-color: var(--primary-text-color);
	color:var(--light-text);
	padding:12px 30px;
	border-radius: 20px;
	font-weight: normal;
	text-decoration: none;
	margin-right: 15px;
}

.hero-image img {
    width: 500px;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--light-text);
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}