<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Welcome Page</title>
	{% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
	<main class="hero-section">
		<div class="hero-text">
			<h1>Delicious Meals, Delivered to Your Door.</h1>
			<p>Craving something tasty? Get it delivered fresh and hot, right when you need it.</p>
			<div class="cta-buttons">
				<a href="open_signin" class="btn">Sign In</a>
				<a href="open_signup" class="btn">Sign Up</a>
			</div>
		</div>
		<div class="hero-image">
			<img src="{% static 'images/hero_image5.png' %}" alt="Delicious food">
		</div>
	</main>
</body>
</html>