<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Update Restaurant</title>
</head>
<body>
	<h3>Update restaurant</h3>
	<form action= "{% url 'update_restaurant' restaurant.id %}" method="post" >
		{% csrf_token %}
		<label for="name">Restaurant Name</label>
		<input type="text" name="name" value={{restaurant.name}} \>
		<br><br>
		<label for="picutre">Picture URL</label>
		<input type="text" name="picture" value={{restaurant.picture}} \>
		<br><br>
		<label for="cuisine">Cuisine</label>
		<input type="text" name="cuisine" value={{restaurant.cuisine}} \>
		<br><br>
		<label for="rating">Rating</label>
		<input type="number" name="rating" min="0" max="5" stp="0.5" id="rating" value={{restaurant.rating}} \>
		<br><br>
		<button type="submit">Update Restaurant</button>
	</form></body>
</html>

