<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Menu</title>
</head>
<body>
	<h2>{{restaurant.name}}</h2>
	<img src="{{restaurant.picture}}" height="100px">
	<h4>{{restaurant.cuisine}}</h4>
	<table border="1">
		<thead>
			<tr>
				<th>Picture</th>
				<th>Item name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Vegetarian</th>
				<th>Add Item</th>
			</tr>
		</thead>
		<tbody>
			{% for item in itemList %}
				<tr>
					<td>
						<img src="{{item.picture}}" height="150px">
					</td>
					<td>{{item.name}}</td>
					<td>{{item.description}}</td>
					<td>{{item.price}}</td>
					<td>{{item.vegetarian}}</td>
					<td><button>Add to Cart</button></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>